*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

/*-------------------------sec-header-------------------*/

.sec-IconHeader{
    padding:15px 0;
    background-color:#f5f7f9;
}

.sec-header ul{
    display:inline-block;
}

.sec-header ul li{
    display:inline-block;
}

.mr-10{
    margin-right:10px;
}

.mr-20{
    margin-right:20px;
}

.mr-30{
    margin-right:30px;
}

.mr-40{
    margin-right:40px;
}

.sec-header ul li a{
    color:#506a85;
    font-size:12px;
    font-weight:400;
    transition: all .4s linear;
}

.sec-header ul li a:hover{
    transform: scale(2);
}

/*-------------------------pri-header-------------------*/

.pri-header{
    padding:35px 0;
    background-color:#fff;
}

.priLogo{
    padding:5px 0;
}

.navbar ul{
    display: inline-block;
}

.navbar ul li{
    display:inline-block;
}

.navbar  a{
    color:#506a85;
    font-size:15px;
    font-weight:900;
    text-transform:uppercase;
    margin: 0 10px;
    padding: 10px 10px;
    line-height:34px;
    position:relative;
    
}

.navbar ul li a::after{
    content: ' ';
    width:0%;
    height:5%;
    background-color: #00bb9b;
    position:absolute;
    bottom:0;
    left:50%;
    transition: all .4s linear;
}

.navbar ul li a:hover::after{
    width:100%;
    left: 0;
}

.navbar ul li:last-child a{
    margin-left:0;
    padding-left:0;
}

.navbar ul li a i{
    
}

.ml-60{
    margin-left:60px;
}

/*-------------------------design-sec-------------------*/

.design-sec{
    background-color: #506a85;
    height:880px;
    padding:300px 0;
}

.designInfo h1{
    font-size:78px;
    font-weight:900;
    text-transform:uppercase;
    color: #fff;
    margin-bottom: 35px;
}

.designInfo p{
    color:#a3b1bf;
    font-size:24px;
    font-weight:400;
    margin-bottom: 10px;
}

.designInfo .para{
    margin-bottom: 60px;
}

.box button{
    padding:25px 70px;
    background-color:#00bb9b;
    font-size: 18px;
    font-weight:900;
    text-transform: uppercase;
    color:#fff;
    text-align:center;
    transition:all .4s linear;
    border:none;
    outline:none;
}

.box button:hover{
    background-color:#fff;
    color:#00bb9b;
    box-shadow: 6px 10px 20px hotpink;
    border:none;
    outline:none;
}

/*------------------------responsive-sec-------------------------*/

.responsive{
    background-color:#fff;
    padding:130px 0;
}

.responsiveInfo h1{
    font-size: 44px;
    font-weight:900;
    color:#506a85;
    text-transform: capitalize;
    margin-bottom:20px;
}

.responsiveInfo p{
    font-size: 22px;
    font-weight:400;
    color: #73879c;
    margin-bottom: 20px;
}

.mb-55{
    margin-bottom: 55px;
}

.responsivelogo a i{
    color:#00bb9b;
}

.responsiveInfo2 h3{
    font-size: 26px;
    font-weight: 900;
    color:#506a85;
    text-transform: capitalize;
    margin-bottom: 30px;
    
}

.responsiveInfo2 p{
    font-size: 16px;
    font-weight: 400;
    color:#73879c;

}

/*------------------------latestwork-sec-----------------------*/

.latestWork-sec{
    padding:130px 0;
    background-color: #f1f5f7;
}

.latestWorkInfo h1{
    font-size: 44px;
    font-weight: bold;
    color:#506a85;
    text-transform: capitalize;
    margin-bottom: 40px;
}

.latestWorkInfo p{
    font-size: 22px;
    font-weight: 400;
    color: #73879c;
    margin-bottom: 75px;
}

.card{
    width: 570px;
    height:500px;
    background-color: red;
}

.cardImg{
    width:570px;
    height:385px;
}

.cardImg img{
    width:100%;
    height:100%;
    object-fit:cover;
    transition:all .4s linear;
}

.cardImg img:hover{
    box-shadow:6px 10px 24px green;
}

.cardInfo{
    width: 570px;
    height:115px;
    background-color: #fff;
    padding:30px 0;
}

.cardInfo h3{
    font-size:20px;
    font-weight:900;
    color:#506a85;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.cardInfo p{
    font-size: 14px;
    font-weight:400;
    color:#73879c;
    text-transform:capitalize;
}

.mb-80{
    margin-bottom: 80px;
}

.cardImages{
    width:270px;
    height:180px;
    background-color:#00bb9b;
}

.cardImages img{
    width:100%;
    height:100%;
    object-fit:cover;
    transition: all .4s linear;
}

.cardImages img:hover{
    box-shadow:6px 10px 24px green;
}

.mb-40{
    margin-bottom: 40px;
}

.inner{
    width:15px;
    height:15px;
    border-radius:50%;
    display:inline-block;
    margin:0 5px;
}

.one, .three{
    background-color: #506a85;
}

.two{
    background-color: #00bb9b;
}

/*------------------------latestwork-sec-----------------------*/

.getInTouch-sec{
    padding:130px 0;
    background-color:#fff;
}

.getInTouchInfo h1{
    font-size: 44px;
    font-weight: 900;
    color:#506a85;
    text-transform: uppercase;
    margin-bottom:40px;
}

.getInTouchInfo p{
    font-size: 22px;
    font-weight: 400;
    color:#73879c;
    margin-bottom: 20px;
}

.getInTouchInfo .para{
    margin-bottom: 45px;
}

.getInTouchInfo button{
    padding:20px 25px;
    text-transform: uppercase;
    background-color: #00bb9b;
    color: #fff;
    border: none;
    outline:none;
    transition: all .4s linear;
}

.getInTouchInfo button:hover{
    background-color:#fff;
    color:#00bb9b;
    box-shadow: 6px 10px 20px hotpink;
    border-radius: 5px;
}

/*------------------------footer-sec-----------------------*/

.footer{
    padding:75px 0;
    background-color: #2f3f51;
}

.priFooterInfo h4{
    font-size: 16px;
    font-weight:900;
    color:#fff;
    text-transform: uppercase;
    margin-bottom:25px;
}

.priFooterInfo a img{
    margin-bottom: 25px;
}

.priFooterInfo p{
    font-size: 14px;
    font-weight: 400;
    color: #a3b1bf;
    margin-bottom: 25px;
}

.priFooterInfo a{
    color:#a3b1bf;
    font-size: 15px;
    font-weight:900;

}

.images{
    display:inline-block;
}

.imagesCard{
    width:120px;
    height:80px;
    margin:5px;
    background-color:#00bb9b;
    display: inline-block;
}

.imagesCard img{
    width:100%;
    height:100%;
    object-fit: cover;
    transition: all .4s linear;
}

.imagesCard img:hover{
    box-shadow:8px 10px 24px hotpink;
    border: 2px solid hotpink;
}

.priFooterInfo .para{
    margin-bottom: 10px;
}

.priFootIcon i, .priFootIcon span,.priFootIcon a{
    font-size:14px;
    color:#a3b1bf;
    margin:5px 5px 5px 0;
}

.priFormControl input{
    width:100%;
    padding:15px 0 15px 10px;
    background-color:#4e5c6b;
    border:none;
    outline:none;
    font-size:14px;
    font-weight:400;
    border-radius: 5px;
}

.priFormControl{
    position:relative;
}

.priFormControl button{
    background-color: #00bb9b;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;
    padding: 5px;
    border-radius:5px;
    position:absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    outline:none;
    transition: all .4s linear;
}

.priFormControl button:hover{
    box-shadow: 2px 4px 8px hotpink;
    background-color: #fff;
    color:#00bb9b;
    border:none;
    outline:none;
}


.sec-footer{
    padding: 35px 0;
    background-color:#273545;
}

.secFootInfo span{
    font-size:14px;
    color:#707e8c;
    font-weight:400;
}

.secFootNav ul{
    display: inline-block;
}

.secFootNav ul li{
    display: inline-block;
}

.secFootNav ul li a{
    font-size: 14px;
    text-transform:uppercase;
    color:#707e8c;
    padding:5px 5px;
}